---
title: Home
description: The home of Joey Pereira
---
{% extends "home.j2" %}

{% block aboutme %}
Hi there! Currently, if you're wondering. I'm a Computer Science student at the University of Waterloo, located in Ontario, Canada. I have a strong passion for what I study, and love solving problems using what I've learned! Among my learning is prospective studies in cryptography, hardware architecture, network systems and architectures, compilers and operating systems, and more!

Bear with me, as the beginning of this term has been a busy start and I have yet to populate this wonderful place with my plentiful thoughts. This page has just recently been handcrafted for your enjoyment in the little spare time I can devote.
{% endblock aboutme %}

