---
title: Home2
description: The home of Joey Pereira
---
{% extends "jumbotron.j2" %}

{% block headline %}
# Hello, world!

Currently, if you're wondering, I'm a [Computer Science][CS] student at the [University of Waterloo][UW], located in Ontario, Canada. I have a strong passion for what I study, and love solving problems using what I've learned! Among my learning are prospective studies in machine learning, language theory.
[CS]: http://cs.uwaterloo.ca
[UW]: http://uwaterloo.ca

Projects I find are always a good way to get some time past. I also believe they are vital to fully understanding concepts and when working on various projects what better way to solve problems than the many you encounter!
{% endblock headline %}

{% block button %}
See more cool projects
{% endblock button %}

{% block button_link %}
{{ content_url("projects/") }}
{% endblock button_link %}

{% block container %}
Hi
{% endblock container %}