---
title: Random
description: The random of Joey Periera
---
{% extends "page.j2" %}
{% block post %}
Here I am merely outlaying random miscellaenous things I may have to share with you.

At the moment that would solely be course notes I have written up in LaTeX for my courses currently.
They will be linked up here in some time...

Additionally I'm working towards writing a comprehensive 'book' on mathematical logic for computer science, an introductory to propositional and prepositional logic along with program validation. It's aimed to be a supplement or aid to a logic course currently offered at the University of Waterloo.
{% endblock post %}
