<header class="MenuContainer">
    <div class="MenuBurger" onclick="menuBurgerClick()">
        <div class="MenuBurger-square">
        <i class="fa fa-3x fa-bars"></i>
        </div>
    </div>
    <nav class="Menu">
        <div class="Menu-item">
            <a class="Menu-item-link" href="/">Home</a>
        </div>
        <div class="Menu-item">
            <a class="Menu-item-link" href="/aboutme">About Me</a>
        </div>
        <!-- empty blog for now -->
        <!-- <div class="Menu-item">
            <a class="Menu-item-link" href="https://medium.com/@{{ site.data.theme.social.medium }}">Blog</a>
        </div> -->
        <div class="Menu-item">
            <a class="Menu-item-link" href="/projects">What I Made</a>
        </div>
        <!-- Nothing random for now -->
        <!-- <div class="Menu-item">
            <a class="Menu-item-link" href="/random">Random</a>
        </div> -->
        <div class="Menu-item">
            <a class="Menu-item-link" href="/resume.pdf">Resume</a>
        </div>
    </nav>
</header>
