<!DOCTYPE html>
<html>
<head>
  <meta charset="{{ resource.meta.charset }}" />
  <title>{% block title %}{{ resource.meta.title }}{% endblock title %} | {{ site_title }}</title>

  <meta name="author" content="{{ resource.meta.author }}" />
  
  {% block css %}
  <link href="{{ media_url('style.css') }}" rel="stylesheet" type="text/css">
  {% endblock css %}

</head>
<body>
  {% block body %}
  <div id="container">
    <header class="menu">
    <div class="wrap">
      <div class="left">
        <a href="/" id="brand" class="serif">Joey Pereira</a>
      </div>
      <nav class="right">
        <a href="/#">Home</a>
        <a href="/articles/">Articles</a>
        <a href="/projects">Projects</a>
        <a href="/random.html">Random</a>
        <a href="/resume.pdf">Resume</a>
      </nav>
    </div>
    </header>

    <div style="margin-bottom: 60px;">
    {% block container %}
    {% endblock container %}
  </div>

  </div>
  <footer>
    {% block footer %}
    <span class="wrap vert-center" style="padding: 0 15px 0 0">
      <a href="mailto:joey@joeypereira.com" style="color: #CDCEFF">Email</a>
    </span>
    <span class="wrap vert-center" style="padding: 15px 0 0 0">
      <b>-</b>
    </span>
    <span class="wrap" style="vertical-align: middle; margin: 15px">
      <a href="http://github.com/xlegoz" style="color: #CDCEFF">Github</a>
    </span>
    <span class="wrap vert-center" style="padding: 15px 0 0 0">
      <b>-</b>
    </span>
    <span class="wrap" style="vertical-align: middle; margin: 15px">
      <a href="http://ca.linkedin.com/in/joeypereira/" style="color: #CDCEFF">Linkedin</a>
    </span>
    {% endblock footer %}
  </footer>
 {% endblock body %}
</body>
</html>
