{% extends "base_new.j2" %}
{% from "macros.j2" import render_box with context%}
{% from "macros.j2" import render_list with context%}
{% block container %}

<div class="wrap">
<h1>{% block page_title %}{{ resource.meta.title }}{% endblock %}</h1>
<span class="lead"><p>{% block page_lead %}{% endblock %}</p></span>

{% block page_list %}
{% for res in resource.node.walk_resources_sorted_by_time() %}
  {% if (not loop.index0 == 0) and loop.index0 is divisibleby 3 %}{% block upper_loop %}{% endblock %}{% endif %}
  {% if (not (loop.index0 == 0 or loop.index0 == 1)) and loop.index0 is divisibleby 3 %}{% block lower_loop %}{% endblock %}{% endif %}
  {% block page_node scoped%}{% endblock %}
  
{% endfor %}
{% endblock %}
</div>
{% endblock %}
