// A set of variables for all use

$text-gray: #404040;
$text-white: #efefef;

$bg-gray: #f2f2f2;

$dark-gray: #aaaaaa;

$royal-purple: #4c4d96;

// currently a UN blue (skyish blue)
$animation-compliment: #53a7ea;
